@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Raleway:500,600|Ubuntu+Mono');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$maincolor : #4ea8ff;
$darkmaincolor : #3179bf;
$darkermaincolor : #163757;

$white : #eeeeee;

$darkgray : #333333;
$middarkgray : #292929;
$darkergray : #222222;

$mainfont: 'Source Sans Pro', Arial;
$secondaryfont: 'Raleway', sans-serif;
$monospacefont: 'Ubuntu Mono', monospace;

body {
    background: $middarkgray;
    color: $white;
    font-family: $mainfont;
}

#wrapper {
    width: 100%;
}

a {
    color: $maincolor;
    text-decoration: none;
    font-weight: 400;

    &[style*="color:#0099FF"] {
            color: $maincolor !important;
    }
}

strong {
    font-weight: 700;
    letter-spacing: 0.1pt;
}

.colhead td {
    font-family: $secondaryfont;
    font-size: 12pt;
}

textarea {
    border: 2px solid $maincolor;
    border-radius: 3px;
    background: transparent;
    padding: 5px;
    box-sizing: border-box;
    color: $white;
    font-family: $mainfont;
}

h1, h2, h3 {
    width: 100%;
    text-align: center;
    font-family: $secondaryfont;
    margin: 5px 0;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 16pt;
}

code {
    font-family: $monospacefont;
    font-size: 11pt;
    line-height: 120%;
}

.box {
    background: $darkergray;
    padding: 10px;
    border-radius: 5px;
}

.box_votes {
    table {
        width: 100%;
    }
}

#ft_toggle {
    padding: 0 10px;
}

.album_votes {
    text-align: left;
}

.head {
    padding-bottom: 5px;
}

input[type="button"], input[type="submit"], button {
    color: $darkergray;
    background: $maincolor;
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid $maincolor;
    transition: 0.03s all;
    font-family: $secondaryfont;
    font-weight: 600;
    font-size: 11pt;
    height: 30px;
    vertical-align: top;

    &:hover, &:active, &:focus {
        background: $darkergray;
        color: $maincolor;
    }

    &:hover {
        cursor: pointer;
    }
}

.vertical_space {
    padding-top: 35px;
}

input[type="text"], input[type="password"] {
    border: 2px solid $maincolor;
    color: #eee;
    border-radius: 3px;
    background: transparent;
    padding: 3px;
    box-sizing: border-box;
    height: 30px;
}

#header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0px 3px 3px rgba(0,0,0,0.5);
    background: $darkgray;

    a {
        color: $maincolor;
        text-decoration: none;
        font-weight: 600;
    }

    >div {
        display: inline-block;
        width: 100%;
    }
}

#logo {
    padding-top: 15px;

    a {
        background-image: url('https://alpharatio.cc/static/styles/kuro/images/arbanner.png');
        background-repeat: no-repeat;
        width: 380px;
        height: 90px;
        display: inline-block;
    }
}

#donation-link a {
    display: none;
}

#userinfo_username, #userinfo_major {
    li {
        &:first-child {
            display: none;
        }

        a {
            padding: 6px 10px;
            font-size: 11pt;
            display: inline-block;
        }
    }
}

#userinfo_username {
    display: inline-block;
    li {
        &:first-child {
            display: none;
        }

        a {
            &::before {
                padding-right: 5px;
                font-family: 'FontAwesome';
            }
        }
    }

    /* EDIT, UPLOAD and LOGOUT BUTTONS */

    #nav_userinfo {
        a::before {
            content: '\f007';
        }
    }

    #nav_useredit {
        a::before {
            content: '\f013';
        }
    }

    #nav_upload {
        a::before {
            content: '\f0ee';
        }
    }

    #nav_logout {
        a::before {
            content: '\f08b';
        }
    }
}

#userinfo_major {
    display: inline-block;
    li {
        a {
            &::before {
                font-family: 'FontAwesome';
                padding-right: 5px;
            }
        }
    }
}

/* VIPINVITE and DONATE buttons */

#nav_vipinvite {
    a::before {
        content: '\f06b';
    }
}

#nav_donate {
    a::before {
        content: '\f155';
    }
}

#userinfo_stats {
    display: block;
    li {
        padding: 6px 10px;
        font-size: 11pt;

        a {
            padding: 6px 0;
            &::before {
                font-family: 'FontAwesome';
                padding-right: 5px;
            }
        }
    }
}

/* The stats section */
#stats_seeding {
    a::before {
        content: '\f176';
    }
}

#stats_leeching {
    a::before {
        content: '\f175';
    }
}

#userratio {
    a::before {
        content: '\f0e7';
    }
}

#hnr_tokens {
    >a::before {
        content: '\f132';
    }
}

#fl_tokens {
    >a::before {
        content: '\f1c0';
    }
}

#userinfo_minor  {
    li {
        a {
            padding: 6px 10px;
            font-size: 11pt;
            display: inline-block;
            margin: 2px;
        }
    }
}

#userinfo_username, #userinfo_major, #userinfo_stats, #userinfo_minor {
    font-size: 0;
    padding: 2px 0;
    li {
        display: inline-block;
        position: relative;

        a {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 51%;
                right: 50%;
                bottom: 0;
                background: $maincolor;
                height: 2px;
                -webkit-transition-property: left, right;
                transition-property: left, right;
                -webkit-transition-duration: 0.05s;
                transition-duration: 0.05s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }

            &:hover::after {
                left: 0;
                right: 0;
            }
        }
    }
}

#menu {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            display: inline-block;
            margin: 4px 10px;

            a {
                font-family: $secondaryfont;
                color: $darkergray;
                background: $maincolor;
                display: inline-block;
                border-radius: 3px;
                padding: 5px 9px;
                box-sizing: border-box;
                border: 2px solid $maincolor;
                transition: 0.03s all;
                font-weight: 600;

                &:hover, &:active, &:focus {
                    background: $darkermaincolor;
                    color: $maincolor;
                }
            }
        }
    }
}

#searchbars {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            margin: 6px;
            form {
                input {
                    background: $middarkgray;
                    padding: 5px;
                    border: 2px solid $maincolor;
                    color: $white;
                    width: 170px;
                    border-radius: 3px;
                }
            }
        }
    }
}

#content {
    margin-top: 30px;
    display: inline-block;
    width: 100%;

    .nobr {
        white-space: nowrap;
    }

    .thin {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1150px;
        margin: 0 auto;

        .main_column {
            max-width: 750px;
            margin-left: 50px;
            background: $darkergray;
            padding: 10px;
            border-radius: 5px;

            .box {
                position: relative;
                width: 100%;
                box-sizing: border-box;

                &:not(:last-child) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }

                .head {
                    padding-bottom: 15px;

                    .time {
                        display: block;
                    }
                }

                &:not(.hidden) {
                	display: block;
                }
            }
        }

        .sidebar {
            max-width: 350px;

            .box:not(:first-child) {
                margin-top: 20px;
            }

            .box {
                line-height: 120%;
            }
        }

        .header {
            width: 100%;
            text-align: center;
            padding: 15px 0;

            h1, h2, h3, h4, h5, h6 {
                letter-spacing: 1px;
                font-weight: 700;
            }
        }


        .search_form[name="forums"] {
            table.layout.border {
                >tbody>tr:nth-child(2) {
                    td {
                        padding-bottom: 10px;
                    }
                }

                >tbody>tr:nth-child(3) {
                    border-top: 1px solid $darkgray;
                    border-bottom: 1px solid $darkgray;
                    >td {
                        padding: 15px 0;

                        &:first-child {
                            vertical-align: top;
                        }
                    }
                }

                >tbody>tr:nth-child(4) {
                    >td {
                        * {
                            margin-top: 15px;
                        }

                        &:first-child {
                            padding-top: 15px;
                        }
                    }
                }

                .cat_list.layout tbody {
                    tr:not(:first-child) {
                        td[colspan="5"] strong {
                            padding-top: 15px;
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .search_form[name="torrents"] {
            .box.filter_torrents {
                #ft_container {
                    tbody {
                        tr {
                            width: 100%;
                            td {
                                &.label {
                                    display: inline;
                                    line-height: 25px;
                                }

                                input, select {
                                    margin-bottom: 10px;
                                    margin-right: 3px;
                                    margin-right: 3px;
                                }

                                input.inputtext {
                                    height: 25px;
                                    border: 2px solid $maincolor;
                                    color: $white;
                                    border-radius: 3px;
                                    background: transparent;
                                    padding: 3px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }

                    table#taglist {
                        width: 100%;

                        tbody {
                            tr {
                                td {
                                    width: auto !important;
                                }
                            }
                        }
                    }

                    table.layout.cat_list {
                        tbody {
                            display: flex;
                            max-width: 800px;
                            flex-wrap: wrap;
                            justify-content: center;
                            tr {
                                display: flex;
                                justify-content: left;
                                td {
                                    padding: 0 8px 8px 0;

                                    input {
                                        margin: 0;
                                    }

                                    label {
                                        vertical-align: top;
                                        a {
                                            font-size: 10pt;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    div.ft_submit {
                        margin-bottom: 10px;
                        font-size: 0pt;

                        span[style*="float: left"] {
                            width: 100%;
                            margin: 4px 0;
                            float: none;
                        }

                        input {
                            &:not(:first-child) {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }

        #torrent_table, #request_table, table.torrent_table {
            display: inline-block;
            padding: 20px 0;
            width: 100%;

            tr {
                width: 100%;
                border-top: 2px solid $middarkgray;
                border-left: 2px solid $middarkgray;

                td {
                    padding: 3px 4px;
                    border-right: 2px solid $middarkgray;
                    vertical-align: middle;

                    &.big_info {
                        padding: 7px;

                        div.group_info {
                            max-width: 900px;
                            display: inline-block;
                            word-break: break-all;

                            >a {
                                font-weight: 400;
                                letter-spacing: 0.2pt;
                            }

                            strong.torrent_label {
                                word-break: keep-all;
                                white-space: nowrap;
                            }

                            span.bookmark {
                                margin-left: 4px;
                            }
                        }
                    }
                }

                &.torrent {
                    background: $darkergray;
                }
            }
        }

        #request_table>tbody>tr:not(.colhead_dark) {
            background: $darkergray;
        }

        table.forum_post:not(.hidden) {
            width: 100%;
            max-width: 900px;
            background: $darkergray;
            padding: 20px;
            display: inline-block;
            margin: 3px 0;
            border-radius: 5px;

            tbody {
                display: inline-block;
                width: 100%;
                min-height: 150px;

                tr {
                    display: flex;

                    .avatar {
                        display: inline-block;
                        padding-left: 10px;
                        padding-bottom: 10px;
                        padding-right: 20px;
                    }

                    .body {
                        display: inline-block;
                        padding-bottom: 10px;
                        padding-right: 10px;
                        line-height: 120%;

                        blockquote {
                            background: rgba(255,255,255,0.02);
                            padding: 10px;
                            margin: 3px 0 10px 0;
                            border-radius: 3px;
                            vertical-align: top;
                            box-sizing: border-box;
                            box-shadow: 0 2px 1px rgba(0,0,0,0.2);
                            border: 1px solid rgba(255,255,255,0.05);
                        }
                    }

                    &.colhead_dark {
                        td {
                            padding-top: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            padding-bottom: 10px;

                            >div:nth-child(2)>input[value="Preview"] {
                                margin-left: 10px;
                            }

                            >div:last-of-type {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }

            input[type="button"] {
                margin-right: 5px;
            }
        }

        .breadcrumbs {
            padding-top: 15px;
            display: block;
        }

        .forum_list {
            width: 100%;

            h3 {
                padding-top: 25px;

                &::before, &::after {
                    display: inline-block;
                    content: "";
                    width: 4rem;
                    margin: 0 1rem;
                    height: 1px;
                    position: relative;
                    top: 0;
                    margin-bottom: 5px;
                }

                &::before {
                    //@include background-image(linear-gradient(to right, $middarkgray, #b0b0b0));
                    background: linear-gradient(to right, $middarkgray 0%, #b0b0b0 100%); 
                }

                &::after {
                    //@include background-image(linear-gradient(to right, #b0b0b0, $middarkgray));
                    background: linear-gradient(to right, #b0b0b0 100%, $middarkgray 0%); 
                }
            }

            table {
                margin: 0 auto;
                width: 100%;
                tbody {
                    tr {
                        td {
                            padding: 5px 3px;

                            span.last_poster {
                                width: 280px;
                            }
                        }
                    }
                }
            }

            &.border {
                text-align: center;

                tbody {
                    display: inline-block;
                    max-width: 900px;
                    background: $darkergray;
                    border-radius: 3px;
                }

                td {
                    border: 1px solid $middarkgray;
                    padding: 7px 35px;

                    span.time {
                        white-space: nowrap;
                    }

                    &:first-child {
                        white-space: nowrap;
                    }
                }
            }
        }

        .linkbox {
            div.center {
                margin: 15px 0;
            }
        }

        table.forum_index {
            tbody {
                tr {
                    td {
                        padding: 4px 3px;
                        border-right: 2px solid $middarkgray;

                        span.last_poster {
                            width: 280px;
                        }
                    }

                    &.colhead {
                        font-weight: 600;
                    }

                    &.rowa, &.rowb {
                        background: $darkergray;
                        border-bottom: 2px solid $middarkgray;
                    }
                }
            }
        }

        form.search_form {
            background: $darkergray;
            padding: 10px;
            border-radius: 5px;

            td {
                padding-bottom: 5px;
            }
        }

        table.staff {
            td {
                min-width: 200px;
                padding-bottom: 3px;
                padding-left: 3px;
                padding-right: 3px;
            }
        }

        #reply_box h3 {
            text-align: center;
            padding-top: 25px;
            padding-bottom: 10px;
            font-family: $secondaryfont;
            font-size: 16pt;
        }

        form[name="notification"] {
        	max-width: 810px;
        }
    }
}

body#index .thin .main_column .box:not(:first-child) {
	margin-top: 20px;
	&::before {
        content: ' ';
        position: absolute;
        top: -20px;
        left: 50%;
        width: 85%;
        transform: translateX(-50%);
        height: 1px;
        background-color: $darkgray;
    }
}

#footer {
    max-width: 700px;
    margin: 30px auto 0 auto;
    display: block;
    text-align: center;
    line-height: 120%;

    p:first-child::after {
        content: 'Theme by Awest.io';
        display: block;
    }

    p:last-child {
        strong:not(:first-child) {
            padding-left: 20px;
        }
    }
}

/* The inbox mail list */
form#messageform {
    >input {
        margin: 15px 4px;
    }

    .message_table {
        tr {
            &:nth-child(even) {
                background: $darkergray;
            }

            td {
                padding: 3px;
            }
        }
    }
}

/* The inbox search field*/
form#searchbox {
    input[type="text"] {
        margin-top: 10px;
    }
}

/* RSS settings */
#filter_form {
    td {
        padding-bottom: 20px;
    }
}

/* Creating a new request */
form#request_form {
    tr>td {
        padding-bottom: 5px;

        &.label {
            padding-right: 5px;
            vertical-align: top;
            font-weight: 700;
        }
    }
}

/* The 3 paragraph under invites */
#user {
    div.box.pad {
        text-align: center;
        width: 100%;

        p {
            max-width: 450px;
            text-align: left;
            padding-bottom: 15px;
            margin: 0 auto;
        }

        &:last-child {
            padding-bottom: 30px;
            max-width: 900px;
        }
    }

    h3 {
        padding: 30px 0 10px 0;
    }
}

/* For the table of donation tiers */
body#donate {
    table {
        tr {
            td {
                padding: 3px 10px;
                white-space: nowrap;
            }

            &:nth-child(even) {
                background: $darkergray;
            }
        }
    }
}

/* to make the article search results more spaceous */
body#wiki {
    form {
        tr td {
            padding-bottom: 8px;
        }
    }

    span h3{
        text-align: left;
    }

    .thin>table {
        max-width: 900px;

        tr {
            &:nth-child(even) {
                background: $darkergray;
            }

            td {
                padding: 4px;
            }
        }
    }
}

/* User Options */
form#userform {
    max-width: 900px;
}

#requests .main_column table.layout, table.user_options {
    tr {
        td {
            padding: 9px 4px;
            vertical-align: top;
        }

        &.colhead_dark td {
            padding-top: 40px;

            strong {
                font-size: 14pt;
                font-family: $secondaryfont;
            }
        }

        &:not(.colhead_dark) {
            background: #222222;
            border-bottom: 2px solid $middarkgray;
            .label {
                border-right: 2px solid $middarkgray;
            }
        }
    }

    input#irckey {
        margin-bottom: 3px;
    }

    input[type="button"] {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    &.user_options tr:last-child {
    	background: transparent;
    }
}

/* Inbox */
#inbox {
    div.box.vertical_space {
        width: 100%;
        max-width: 700px;
    }
}
/* Composing new messages */
#compose {
    width: 100%;

    form.send_form {
        #subject, textarea {
            width: 100%;
        }
    }

    h3 {
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

#compose, div#inbox {
    max-width: 900px;
    width: 100%;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;

    table.message_table {
        margin: 0 auto;
        padding-top: 15px;
    }

    h3 {
        padding-bottom: 15px;
    }

    >.box {
        max-width: 750px;
        text-align: left;
        margin: 0 auto;

        >.head {
            margin-bottom: 5px;
        }
    }
}

/* Polls */
.graph {
    margin-bottom: 10px;
    margin-top: 3px;
    background: $darkergray;
    border-radius: 3px;
    font-size: 0;

    .center_poll {
        height: 7px;
        //@include background-image(linear-gradient($maincolor, $darkmaincolor));
        background: linear-gradient(to bottom, $maincolor 0%, $darkmaincolor 100%);

        display: inline-block;
        border-radius: 3px;
        margin: 1px;
    }
}

.poll .graph {
    width: 280px;
}

#threadpoll {
    width: 100%;
    margin-top: 10px;
    text-align: center;

    .graph {
        display: none;
    }

    li {
        padding: 6px 0;
    }
}

/* The Alertbar */
.alertbar {
    background-color: $darkergray;
    text-align: center;
    color: $white;
    font-weight: 600;
    font-size: 10pt;
    width: 350px;
    margin: 0px auto 0px auto;
    padding: 10px;
}

.spellcheck {
    margin: 25px 0;
    font-size: 1.25em;
    font-weight: 600;
}

.new-subscriptions a, a.new-subscriptions {
    font-weight: bold;

    animation-name: fadein;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 0.8s;

    // Removed wobble animation for now; annoying
    // animation-name: yellowfade;
    // animation-duration: 0.8s;
    // animation-timing-function: ease-in-out;
    // animation-iteration-count: 0.8s;

    &::before {
        content: '\f0a2';
        font-family: 'FontAwesome';
        margin-right: 3px;
    }
}

.linkbox {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    font-size: 0;

    a {
        font-size: 12pt;

        &:not(:first-child) {
            padding-left: 12px
        }
    }
}

.brackets {
    &::before {
        content: "\f104";
        font-family: 'FontAwesome';
        margin-right: 1px;
    }

    &::after {
        content: "\f105";
        font-family: "FontAwesome";
        margin-left: 1px;
    }
}

/* Upvote and Downvote of tags */
.vote_tag_down, .vote_tag_up {
    font-size: 0;

    &::before {
        display: none;
    }

    &::after {
        font-family: 'FontAwesome';
        font-size: 10pt;
    }
}

.vote_tag_down::after {
    content: '\f068';
    margin-right: 3px;
}

.vote_tag_up::after {
    content: '\f067';
    margin-left: 3px;
}

.pad ol li {
    margin-bottom: 15px;
}

/* Some color overrides */
*[style*="color: red"], *[style*="color:red"], .warning {
    color: #e62f2f !important;
}

*[style*="color: green"] {
    color: #40a240 !important;
}

/* Forum Icons */

.unread,
.read,
.read_sticky,
.unread_sticky,
.read_locked,
.unread_locked,
.read_locked_sticky,
.unread_locked_sticky,
.last_read a {
    &::before, &::after {
        font-family: 'FontAwesome';
        font-size: 12pt;
        text-align: center;
        width: 16px;
        display: inline-block;
    }
}

.unread::before,
.read::before {
    content: '\f0f6';
}
.unread::before {
    color: $maincolor;
}
.read::before {
    color: $white;
}

.read_sticky::before {
    content: '\f006';
}
.unread_sticky::before {
    color: $maincolor;
    content: '\f005';
}

.read_locked::before,
.unread_locked::before {
    content: '\f023';
}
.read_locked::before {
    color: $white;
}
.unread_locked::before {
    color: $maincolor;
}

.read_locked_sticky::after,
.unread_locked_sticky::after {
    padding: 2px;
    font-size: 9pt;
    box-sizing: border-box;
    position: absolute;
    transform: translateX(-80%) translateY(15%);
}

.read_locked_sticky::after {
    content: '\f023';
    color: $white;
}

.read_locked_sticky::before {
    content: '\f006';
    color: #989898;
}

.unread_locked_sticky::after {
    content: '\f023';
    color: $white;
}

.unread_locked_sticky::before {
    content: '\f006';
    color: $maincolor;
}

.last_read a {

    &::before {
        margin-left: 4px;
        margin-right: 4px;
        content: '\f0a9';
        color: $maincolor;
        transition: all 0.05s;
    }

    &:hover::before {
        color: $darkmaincolor;
    }
}

/* images people post through BBCode */
.scale_image {
    margin: 2px 0;

    &[onclick*="lightbox.init"]:hover {
        cursor: pointer;
    }
}

#lightbox img:hover {
    cursor: pointer;
}

/* Ratio Colors */
.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #DEA738; }
.r10 { color: #BADD2F; }
.r20 { color: #45CF46;; }
.r50 { color: #45CF46; }
.r99 { color: #45CF46; }

/* BBCode [size] tags */
span.size1 { font-size: 0.75em; }
span.size2 { font-size: 1em; }
span.size3 { font-size: 1.25em; }
span.size4 { font-size: 1.5em; }
span.size5 { font-size: 1.75em; }
span.size6 { font-size: 2em; }
span.size7 { font-size: 2.25em; }
span.size8 { font-size: 2.5em; }
span.size9 { font-size: 2.75em; }
span.size10 { font-size: 3em; }

/* Lightbox */
.lightbox {
    position: fixed;
    text-align: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 0px;
    z-index: 1002;
    overflow: auto;
}

/* Torrent Icons from Kuro theme*/
$torrenticon_dimensionx : 60px;
$torrenticon_dimensiony : 34px;

.cats_tvsd, .cats_tvhd, .cats_tvdvdrip, .cats_tvpacksd, .cats_tvpackhd,
.cats_moviesd, .cats_moviehd, .cats_moviepacksd, .cats_moviepackhd, .cats_moviexxx,
.cats_mvid, .cats_gamespc, .cats_gamesxbox, .cats_gamesps3, .cats_gameswii,
.cats_appspc, .cats_appsmac, .cats_appslinux, .cats_appsmobile,
.cats_0dayxxx, .cats_ebook, .cats_audiobook, .cats_music, .cats_misc {
    background-size: $torrenticon_dimensionx $torrenticon_dimensiony;
    width: $torrenticon_dimensionx;
    height: $torrenticon_dimensiony;
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 5px;
    //border-style: solid;
    //border-width: 2px;
    //border-top-right-radius: 6px;
    //border-bottom-right-radius: 6px;
}

.cats_tvsd {  background-image: url('../images/tv_sd.png'); border-color: #ffab40 }
.cats_tvhd { background-image: url('../images/tv_hd.png'); border-color: #ffab40 }
.cats_tvdvdrip { background-image: url('../images/tv_dvdrip.png'); border-color: #ffab40 }
.cats_tvpacksd { background-image: url('../images/pack_tv-sd.png'); border-color: #ffab40 }
.cats_tvpackhd { background-image: url('../images/pack_tv-hd.png'); border-color: #ffab40 }

.cats_moviesd { background-image: url('../images/movie_hd.png'); border-color: #448aff }
.cats_moviehd { background-image: url('../images/movie_sd.png'); border-color: #448aff }
.cats_moviepacksd { background-image: url('../images/pack_movie-sd.png'); border-color: #448aff }
.cats_moviepackhd { background-image: url('../images/pack_movie-hd.png'); border-color: #448aff }
.cats_moviexxx { background-image: url('../images/movie_xxx.png'); border-color: #ff4081 }

.cats_mvid { background-image: url('../images/mvid.png'); border-color: #00e676 }
.cats_gamespc { background-image: url('../images/game_pc.png'); border-color: #ff5252 }
.cats_gamesxbox { background-image: url('../images/game_xbox.png'); border-color: #ff5252 }
.cats_gamesps3 { background-image: url('../images/game_ps3.png'); border-color: #ff5252 }
.cats_gameswii { background-image: url('../images/game_wii.png'); border-color: #ff5252 }

.cats_appspc { background-image: url('../images/app_pc.png'); border-color: #ffd740 }
.cats_appsmac { background-image: url('../images/app_mac.png'); border-color: #ffd740 }
.cats_appslinux { background-image: url('../images/app_linux.png'); border-color: #ffd740 }
.cats_appsmobile { background-image: url('../images/app_mobile.png'); border-color: #ffd740 }

.cats_0dayxxx { background-image: url('../images/0day_xxx.png'); border-color: #ff4081 }
.cats_ebook { background-image: url('../images/ebook.png'); border-color: #7c4dff }
.cats_audiobook { background-image: url('../images/audiobook.png'); border-color: #7c4dff }
.cats_music { background-image: url('../images/music.png'); border-color: #69f0ae }
.cats_misc { background-image: url('../images/misc.png'); border-color: #eaeaea }

@keyframes wobble {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}